body {
  font-family: 'Poppins', sans-serif;
  background-color: #EAE6F2;
  color: #3D3A4A;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #9425FF;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #B42273;
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #D0C5E0;
  border-radius: 8px;
  font-size: 14px;
}

.card {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card .color-box {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 15px;
}

